<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="App.Export" type="Configurations.ConfigurationSections.Export.ExportConfigurationSection, Net6-ReadLegacyConfigFiles, Version=1.0.0.0, Culture=neutral" restartOnExternalChanges="true" />
	</configSections>

	<appSettings>
		<add key="AppSettingKey" value="AppSettingValue" />
	</appSettings>

	<App.Export configSource="Configs\Export.config" />

</configuration>